body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

  background-image: url("hug_pg.jpg");
  background-size: cover;     
  background-position: center;  
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ===== Intro ===== */
.intro {
  margin-top: 200px;
  cursor: pointer;
  font-size: larger;
  color: #2B1B1B;
  text-shadow: 0 3px 10px rgba(0,0,0,0.35);

}

.tap {
  margin-top: 10px;
  color: #c2185b;
}


/* ===== Gallery ===== */
.gallery {
  display: flex;
  gap: 120px;
  margin-top: 50px;
}


/* ===== Flip Cards ===== */
.card {
  width: 220px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.9s ease; /* ⭐ slow & smooth */
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}


/* sides */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 10px;
}


/* front image */
.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* brown frame */
  border: 12px solid #8b5e3c;
  border-radius: 10px;
}


/* back story */
.back {
  background: rgba(255,255,255,0.25);
backdrop-filter: blur(8px);


  border: 12px solid #8b5e3c;
  display: flex;
  flex-direction: column;     /* stack vertically */
  justify-content: flex-start; /* ⭐ start from top */
  align-items: center;

  padding: 14x;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  color: #8B3A5E;
  transform: rotateY(180deg);
}


/* ===== Letter button ===== */
.letter-btn {
  margin-top: 50px;
  padding: 10px 18px;

  border-radius: 12px;
  border: none;

  background: #C75B7A;
color: white;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


/* ===== Letter ===== */
.letter {
  margin-top: 25px;

  width: 500px;
  background: rgba(255, 182, 193, 0.75);
color: #3B1F2B;


  padding: 15px;
  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


.hidden {
  display: none;
}